<!-- BLUE NAVBAR -->
<div class="blueNav" >
    <a> 720-787-4892</a>
    <a href="https://www.instagram.com/trend_blendz/" target="_blank">
        <img class="insta" src="./assets/insta-logo.png" >
    </a>
    
    <a href="https://www.facebook.com/Chino22gutierrez/" target="_blank">
        <img class="facebook" src="./assets/facebook-logo.png">
    </a>
    
</div>
<!-- WHITE NAVBAR -->
<div class="whiteNav">
    <img class="logo" src="./assets/Trend-Blendz.jpeg" >
    <a> Home </a>
    <a> Meet the Team </a>
    <a> Services </a>
    <a> Gallery </a>
    <a> Contact </a>
    <a href="https://getsquire.com/booking/book/trend-blendz-barbershop-lakewood" target="_blank">
        <button> Book Online </button>
    </a>
    
</div>
