<div class="footer">
    <div class="left">
        <div class="google-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6143.632030790937!2d-105.08506282398407!3d39.653855001717055!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x876b81ce01085269%3A0x397205bf0e37bed6!2sTrend%20Blendz%20Barbershop!5e0!3m2!1sen!2sus!4v1717282406716!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            
        </div>
        <div class="logo">
            <img src="./assets/Trend-Blendz.jpeg">
            <a> 
                Trend Blendz Barbershop
                <br>
                <br>
                7625 West Hampden Avenue, Suite 8 
                <br>
                Lakewood, CO 80227
                <br>
                <br>
                (720) 787 - 4892
            </a>
        </div>
    </div>
    <div class="middle">
        <header> HOURS </header>
        <br>
        <a> 
            Sunday 11:00AM-4:00PM
            <br>
            Wednesday 9:00AM-6:00PM
            <br>
            Thursday 9:00AM-6:00PM
            <br>
            Friday 9:00AM-6:00PM
            <br>
            Saturday 9:00AM-6:00PM
            <br>
            <br>
            Check our availability for appointments on Mondays and Tuesdays. 
            <br>
            Walk-in services available Wednesday through Sunday.
        </a>
    </div>
    

</div>

