.home-chairs{
    display: flex; 
    justify-content:center;
    
}

.home-chairs img{
    opacity: 0.75;
    width: 100%;
    z-index: 1;
}

.whiteBox{
    background-color: white;
    display: block;
    width: 30rem;
    height: 40%;
    z-index: 2;
    position: absolute;
    top: 35%;
    align-items: center;
}

.centerLogo{
    z-index: 3;
    position: absolute;
    top: 15%;
}

.trendBlendz{
    z-index: 3;
    position: absolute;
    top: 78%;
    color: #181e5c;
    font-weight: bolder;
    font-size: 2.25rem;
    text-wrap: nowrap;
    
}
.bookAPPT{
    z-index: 3;
    position: absolute;
    top: 83%;
}
.bookAPPT button{
    height: 3rem;
    width: 15rem;
    border-radius: 8px;
    border: 2px solid #d23433;
    background-color: #d23433;
    color: white;
    
    font-size: large;
    font-weight: normal;
    cursor: pointer;
    transition-duration: 0.4s;
}

.bookAPPT button:hover{
    background-color: white;
    color: #d23433;
}

.aboutUs{
    background-color: #6c748c;
    color: white;
    text-align: center;
    font-size: 2rem;
    padding: 2rem;
}

.aboutUs header{
    font-size: 3rem;
}

.scissors{
    opacity: 0.5;
    width:5rem;
    height: 5rem;;
    filter: brightness(0) invert(1);
}
