<!-- HOME CHAIRS PICTURE -->
<div class="home-chairs">
    <img src="./assets/home-chairs.jpeg" >
    <div class="whiteBox">
        <div class="centerLogo">
            <img src="./assets/Trend-Blendz.jpeg">
        </div>
    </div>
    <div class="trendBlendz">
        <a>  PRECISION | CRAFTSMANSHIP | STYLE </a>  
    </div>
    <div class="bookAPPT">
        <a href="https://getsquire.com/booking/book/trend-blendz-barbershop-lakewood" target="_blank">
            <button> BOOK APPOINTMENT </button>
        </a>
    </div>
</div>
<!-- ABOUT US -->
<div class="aboutUs">
    <main> 
        <img class="scissors" src="./assets/scissors.png">
        <header> About Us </header>
        <p>
        Welcome to Trend Blendz Barbershop, where exceptional haircuts and unparalleled service meet. 
        Located in the heart of Lakewood, CO, we take pride in delivering the finest grooming experiences 
        for men, teens, and kids alike. Our team of skilled barbers is dedicated to perfecting the art of 
        barbering. Led by Fabian, a passionate barber who discovered his talent and love for the craft at 
        a young age, Trend Blendz Barbershop is the culmination of his journey. Starting as a hobby at the 
        age of 14, Fabian's natural knack for barbering flourished over the years, eventually leading him 
        to transform his passion into a rewarding career.
        <br>
        With years of experience working 
        in various barbershops after high school, Fabian honed his skills and acquired the expertise necessary to create flawless 
        fades, intricate designs, and precise straight razor eyebrows. His unwavering commitment to quality and attention to 
        detail set the foundation for Trend Blendz. 
        <br>
        <br>
        Come visit us today!
        </p>

    </main>
    <img src="./assets/front-door.jpeg">
    
</div>